*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/AreaCalculator/nbproject/private/
/AreaCalculator/build/
/UCP/nbproject/private/
/Ejercicio002/nbproject/private/
/Ejercicio003/nbproject/private/
/Ejercicio003/build/
/Ejercicio003/dist/
/Matrix/nbproject/private/
/Matrix/build/
/RequerimientosStock/nbproject/private/
/RequerimientosStock/build/